// Body
$body-bg: #f8fafc;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-family-quicksand: 'Calibri', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;
$font-family-jasmina: 'Jasmina', sans-serif;
$font-family-calibri: 'Calibri', sans-serif;
$font-family-google-sans: 'Google Sans', sans-serif;
$font-family-google-roboto-sans: 'Google Sans', 'Roboto', 'Arial', sans-serif;


//Custom Colors
$purple-bertha: #47187d;
$pink-bertha: #ff0080;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
